/* roomList.css */

/* HotelPage.css */
.hotel-page {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: #007BFF;
  margin-bottom: 20px;
}

.room-info {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.room-info h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.room-info p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}


.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.room-info {
  flex-basis: calc(33.33% - 20px);
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}


/* Adjust styles as needed */
